
<p>
  Hi <%= @recipient.name %>; it was great to meet you today.<br>
  Here's my card (sent from CardShare):
</p>

<%= gravatar_for @current_user %>

<p>
	Sincerely,<br>
	<%= @current_user.name %>
</p>
