<h1>CardShare</h1>

<% if user_signed_in? %>
	<%= current_user.name %>'s Cards
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	<%= render 'devise/sessions/new' %>
<% end %>
